---
import { BaseLayout } from "../../../layouts";
import { services } from "../../../data-list/services.js";
import { Title } from "../../../components";

export async function getStaticPaths() {
  return services;
}

const { image, title, descriptionDetails } = Astro.props;
---

<BaseLayout title="Servicios">
  <main class="px-6 py-10">
    <Title>{title}</Title>
    <section
      class="flex
    flex-wrap
    justify-center
    gap-6
    md:justify-around"
    >
      <div class="max-w-md">
        <figure class="mb-6">
          <img src={image} alt={`Imagen de ${title}`} />
        </figure>
        <p class="text-black text-pretty leading-7">
          {descriptionDetails}
        </p>
      </div>

      <div class="w-full md:w-72 text-black">
        <h3
          class="mb-6
          text-4xl
          text-primary-color-500
          tracking-tight
          font-extrabold"
        >
          Servicios
        </h3>
        <ul>
          {
            services.slice(0, 5).map((serviceItem) => {
              return (
                <li class="border-t border-gray-300 py-4">
                  <a href={`/services${serviceItem.params.service}`}>
                    {serviceItem.props.title}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
